.App {
  text-align: center;
  align-items: center;
}

table{
  align-items: center;
  border-collapse: collapse;
  border-spacing: 0; 
}



.Box_B {
  width: 100px; 
  height: 100px; 
  background-color: black;
  border: 1px solid #ccc; 

}

.table-container{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box_G{
  width: 100px; 
  height: 100px;
  cursor: pointer;
  background-color: yellow;
  border: 1px solid #ccc; 

}

.Box_R{
  width: 100px; 
  height: 100px;
  cursor: pointer;
  background-color: red;
  border: 1px solid #ccc; 

}

